<section class="mb-8">
    <p>
        En Foco empleo, nos comprometemos a proteger tu privacidad y garantizar
        la seguridad de tu información personal. A continuación, te explicamos
        cómo recopilamos, utilizamos y protegemos tus datos.
    </p>
    <br />
    <h3 class="font-bold mb-2">1. Información que Recopilamos</h3>
    <p>
        Podemos recopilar información como tu nombre, dirección de correo
        electrónico y otros datos cuando te registras o utilizas nuestros
        servicios.
    </p>
</section>

<section class="mb-8">
    <h3 class="font-bold mb-2">2. Uso del Informacion</h3>
    <p class="mb-4">
        La información recopilada se utiliza para mejorar nuestros servicios,
        personalizar tu experiencia y comunicarnos contigo cuando sea necesario.
    </p>
</section>

<section class="mb-8">
    <h3 class="font-bold mb-2">3. Protección de Datos</h3>
    <p>
        Implementamos medidas de seguridad avanzadas para proteger tu
        información personal contra accesos no autorizados.
    </p>
</section>

<section class="mb-8">
    <h3 class="font-bold mb-2">4. Compartición con Terceros</h3>
    <p>
        No compartimos tu información personal con terceros, salvo en los casos
        requeridos por ley o con tu consentimiento expreso.
    </p>
</section>

<section class="mb-8">
    <h3 class="font-bold mb-2">5. Cookies y Tecnologías Similares</h3>
    <p>
        Utilizamos cookies para mejorar la experiencia del usuario y analizar el
        tráfico en nuestro sitio web. Puedes gestionar tus preferencias en la
        configuración de tu navegador.
    </p>
</section>

<section class="mb-8">
    <h3 class="font-bold mb-2">6. Derechos de Usuario</h3>
    <p>
        Puedes acceder, modificar o eliminar tu información personal en
        cualquier momento. Para ello, contáctanos a través de nuestro correo
        electrónico focoempleo1@gmail.com
    </p>
</section>
