---
import Layout from "../../layouts/Layout.astro";
import JobDetails from "../../modules/jobs/JobDetails.astro";
import HeadTitle from "../../shared/components/HeadTitle.astro";


---

<Layout title={""} description={""} image={""}>
    <HeadTitle title="Acerca del empleo" />
    <main class="min-h-screen bg-gray-50">
     
    </main>
</Layout>
